@media (max-width:700px){
    .container {
        margin-top: 8rem;
    }
    .hide-sm{
        display: none;
    }
    .fa-home {
        font-size: 1.5rem;
    }
    .x-large {
        font-size: 3rem;
    }
    .large {
        font-size: 2.5rem;
    }
    .lead {
        font-size: 1rem;
    }
    // Navbar
    .navbar{
        & #nav-toggler{
            opacity: 1;
        }
        ul{
            display: -webkit-box;
            display: -ms-flexbox;
            display: block;
            margin-left: 0;
            position: fixed;
            top: 4rem;
            left: -100%;
            width: 100%;
            text-align: center;
            height: 100vh;
            background: black;
            transition: 0.3s all ease;
            padding-top: 3rem;
            &.show{
                left:0% !important;
        }
        }
    }
    // Dashboard
    .dash-buttons{
        a{
            margin-bottom: 0.6rem;
        }
    }
    .table-wrapper {
        width: 100%;
        overflow: scroll;
    }
    // Developers
    .profile {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }
    // Single Profile
    .profile-wrapper {
        grid-template-areas: 
        'top' 'about' 'exp' 'edu' 'github';
        justify-content: center;
        .profile-about{ 
            .skills {
            flex-direction: column;
            }
        }
    }
    // Posts
    .post {
        grid-template-columns: 1fr;
    }
}
@media (max-width:377px){
    // Posts
    .cm-btn {
        margin-top: 10px;
    }
}
@media (max-width:329px){
    // Developers
    .round-img {
        width: 180px;
        height: 180px;
    }
}
@media (max-width:310px){
    // Developers
    .navbar ul {
        top: 6.3rem;
    }
}